
.gallery-main-root{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.gallery-main-header {
    background-color: #222;
    padding: 10px;
    color: white;
    font-size: 20pt;
}
  
.gallery-main-input {
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 8px;
    color: #666;
    width: 400px;
    margin-bottom: 30px;
}

.expend-image{
  width: 100%;
  height: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .gallery-main-root{
    width: 100%;
    display: block;
  }

  .gallery-main-header{
    width: 100%;
    display: block;
  }

  .gallery-main-input{
    width: 60%;
    padding: 0 8px;
  }

  .expend-image{
    width: 100%;
    height: 60%;
    display: block;
  }
}
