.gallery-root {
  text-align: center;
  padding: 0;
  margin: 0;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.darker-screen{
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
}